@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

h1 {
  @apply m-8 text-4xl text-center;
}
h2 {
  @apply m-6 text-2xl font-semibold;
}
input,
.button {
  @apply inline-block p-2 border rounded-full border-blue-700 drop-shadow;
}

.button:hover {
  @apply shadow-md bg-slate-200 cursor-pointer;
}

table {
  @apply w-4/5 mx-auto bg-white rounded;
}

th {
  @apply border-x p-2 text-start text-gray-700 lg:text-lg;
}

td {
  @apply px-2 border border-gray-200;
}
